@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 207 0 6;
        --client-font: 'Rubik', sans-serif;
        --black: 31 31 57;
    }
    

    body { @apply  font-client scroll-smooth bg-white}
}
@layer components{
    .container { @apply max-w-6xl w-full mx-auto px-2.5 sm:px-3.5 }
    .row { @apply flex flex-wrap -m-3 }
    .col-1 { @apply w-1/6 p-3 }
    .col-2 { @apply w-1/5 p-3 }
    .col-3 { @apply w-1/4 p-3 }
    .col-4 { @apply w-1/3 p-3 }
    .col-5 { @apply w-2/5 p-3 }
    .col-6 { @apply w-1/2 p-3 }
    .col-7 { @apply w-3/5 p-3 }
    .col-8 { @apply w-2/3 p-3 }
    .col-9 { @apply w-3/4 p-3 }
    .col-10 { @apply w-4/5 p-3 }
    .col-11 { @apply w-5/6 p-3 }
    .col-12 { @apply w-full p-3 } 
}