@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 207 0 6;
        --primary-light : 255 237 238;
        --client-font: 'Rubik', sans-serif;
        --black: 31 31 57;
    }
    

    body { @apply  font-client scroll-smooth bg-white}
}
@layer components{
    .container { @apply max-w-6xl w-full mx-auto px-2.5 sm:px-3.5 }
    .row { @apply flex flex-wrap -m-3 }
    .col-1 { @apply w-1/6 p-3 }
    .col-2 { @apply w-1/5 p-3 }
    .col-3 { @apply w-1/4 p-3 }
    .col-4 { @apply w-1/3 p-3 }
    .col-5 { @apply w-2/5 p-3 }
    .col-6 { @apply w-1/2 p-3 }
    .col-7 { @apply w-3/5 p-3 }
    .col-8 { @apply w-2/3 p-3 }
    .col-9 { @apply w-3/4 p-3 }
    .col-10 { @apply w-4/5 p-3 }
    .col-11 { @apply w-5/6 p-3 }
    .col-12 { @apply w-full p-3 } 

    .masonry {
        grid-template-rows: repeat(auto-fit, minmax(0, 5px));
        grid-template-columns: repeat(12,minmax(13px, 1fr));
        column-gap: 24px;
    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end:8;
        display: grid;
        margin-bottom: 24px;}
    .item2{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end:9;
        display: grid;
        margin-bottom: 24px;
    }
    .item3{
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end:10;
        display: grid;
        margin-bottom: 24px;
    }
    .item4{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end:18;
        display: grid;
        margin-bottom: 24px;
    }
    .item5{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 10;
        grid-row-end:17;
        display: grid;
        margin-bottom: 24px;
    }
    .item6{
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 10;
        grid-row-end:17;
        display: grid;
        margin-bottom: 24px;
    }
    .item:hover {
        transform: translateY(-10px);
    }

}